{
  "lastChangelogVersion": {{ if lookPath "pi" }}{{ output "sh" "-c" "pi --version 2>&1" | trim | quote }}{{ else }}"0.74.1"{{ end }},
  "defaultProvider": "cliproxyapi",
  "defaultModel": "gpt-5.5",
  "defaultThinkingLevel": "xhigh",
  "packages": [
    "npm:pi-web-access",
    "npm:pi-powerline-footer"
  ]
}